h1,h2,h3,h4,h5,h6 {
    background-color: transparent;
    color: dimgray;
    font-family: "Segoe UI", "Lucida Grande", Tahoma, Verdana, Helvetica,
                    Arial, sans-serif;
}
 
html,body {
    margin:0;
    padding:0;
    height:100%;
    font-family: "Segoe UI", "Lucida Grande", Tahoma, Verdana, Helvetica,
                    Arial, sans-serif;
    background-color: #f1f1f1;
    color: rgb(70, 70, 70);
    font-size: 0.95em;
}

div#app {
    height: 100%;
}

#header {
    margin: 12px;
}

#footer{
    margin-bottom:30px;
    font-size:0.825em;
    color: silver;
}
 
#left-column {
    width: 200px;
    position: fixed;
}
 
#right-column {
    float: right;
    text-align: right
}

/**
 * Canvas General style
 */
div.with-canvas {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
}
div.with-canvas canvas {
    display: block;
}
div.with-canvas canvas.hovered {
    cursor: pointer;
}

/**
 * Autocomplete component
 */
#autocomplete {
    width: 65%;
    margin: 12px;
    padding: 20px;
}
#autocomplete-input input {/* {{{*/
    padding: 8px;
    width: 98%;
    font-size: 1.3em;
    color: #ababab;
}/* }}}*/
#autocomplete ul {/* {{{*/
    list-style: none;
    margin: 0px;
    padding: 0px;
}/* }}}*/
#autocomplete ul li {/* {{{*/
    padding: 2px;
    margin-bottom: 2px;
}/* }}}*/
#autocomplete ul li:hover {/* {{{*/
    background-color: yellow;
}/* }}}*/
#autocomplete ul li span.type {/* {{{*/
    font-size: 0.7em;
    padding: 5px;
}/* }}}*/
#autocomplete ul li span.intersection { background-color: #eaeaea; }
#autocomplete ul li span.off          { background-color: yellow; }
#autocomplete ul li span.vehicle_type { background-color: #dddddd; }
#autocomplete ul li span.borough      { background-color: #333; color: #fff; }
#autocomplete ul li span.factor       { background-color: red; color: #fff; }

/* components */
div.component {
    margin: 12px;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

div.flex-row {
  display: flex;
}

div#weekday {
    margin-left: 10%;
}

/**
 * Casualty Component
 */
#casualty-component {
  width: 90%;
  /*padding: 0px;*/
  /*padding-left: 0px;*/
}
#casualty-component ul {/* {{{*/
    list-style: none;
    margin: 0;
    display: flex;
}/* }}}*/
#casualty-component li {/* {{{*/
    /*margin: 5px;*/
    padding: 15px;
    background-color: #444;
    /*border: 1px dashed #eaeaea;*/
}/* }}}*/
#casualty-component li a {
    color: #fff;
    text-decoration: none;
}
#casualty-component li.active {
    background: #55818f;
}
#casualty-component li.active a {
    color: #fff;
}
#casualty-component li.total {
    background: #f93a28;
    /*background: yellow;*/
    /*color: #444;*/
}
#casualty-component li.total a {
    /*color: white;*/
    text-decoration: none;
} 
#casualty-component li > a:hover {/* {{{*/
    color: yellow;
    text-decoration: none;
}/* }}}*/
#casualty-component div.label {/* {{{*/
    margin-top: 5px;
    font-size: 0.75em;
    text-align: center;
}/* }}}*/
#casualty-component div.value {/* {{{*/
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}/* }}}*/

/**
 * Active Filter Component
 */
#active-filters ul {
    display: flex;
}

#cluster #map {
    height: 700px;
}
