h1,h2,h3,h4,h5,h6 {
    background-color: transparent;
    color: dimgray;
    font-family: "Segoe UI", "Lucida Grande", Tahoma, Verdana, Helvetica,
                    Arial, sans-serif;
}
 
html,body {
    margin:0;
    padding:0;
    height:100%;
    font-family: "Segoe UI", "Lucida Grande", Tahoma, Verdana, Helvetica,
                    Arial, sans-serif;
    background-color: white;
    color: rgb(70, 70, 70);
    font-size: 0.95em;
}

div#app {
    height: 100%;
}

#footer{
    margin-bottom:30px;
    font-size:0.825em;
    color: silver;
}
 
#left-column {
    width: 200px;
    position: fixed;
}
 
#right-column {
    float: right;
    text-align: right
}

/**
 * Canvas General style
 */
div.with-canvas {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
}
div.with-canvas canvas {
    display: block;
}

/**
 * Autocomplete component
 */
#autocomplete-input input {/* {{{*/
    padding: 8px;
    width: 98%;
    font-size: 1.3em;
    color: #ababab;
}/* }}}*/
#autocomplete ul {/* {{{*/
    list-style: none;
    margin: 0px;
    padding: 0px;
}/* }}}*/
#autocomplete ul li {/* {{{*/
    padding: 2px;
    margin-bottom: 2px;
}/* }}}*/
#autocomplete ul li:hover {/* {{{*/
    background-color: yellow;
}/* }}}*/
#autocomplete ul li span.type {/* {{{*/
    font-size: 0.7em;
    padding: 5px;
}/* }}}*/
#autocomplete ul li span.intersection { background-color: #eaeaea; }
#autocomplete ul li span.off          { background-color: yellow; }
#autocomplete ul li span.vehicle_type { background-color: #dddddd; }
#autocomplete ul li span.borough      { background-color: #333; color: #fff; }
#autocomplete ul li span.factor       { background-color: red; color: #fff; }

/**
 * Casualty Component
 */
#casualty-component ul {/* {{{*/
    list-style: none;
    margin: 0;
    display: flex;
}/* }}}*/
#casualty-component li {/* {{{*/
    margin: 5px;
    padding: 15px;
    /*background: yellow;*/
    /*border: 1px dashed #eaeaea;*/
}/* }}}*/
#casualty-component li.total {/* {{{*/
    color: white;
    background: #444;
}/* }}}*/
#casualty-component li.persons {/* {{{*/
    color: red;
    background: #444;
}/* }}}*/
#casualty-component li.motorist {/* {{{*/
    color: #fff;
    background: #444;
}/* }}}*/
#casualty-component li.cyclist {/* {{{*/
    color: #fff;
    background: #444;
}/* }}}*/
#casualty-component li.pedestrians {/* {{{*/
    color: yellow;
    background: #444;
}/* }}}*/
#casualty-component div.label {/* {{{*/
    margin-top: 5px;
    font-size: 0.75em;
    text-align: center;
}/* }}}*/
#casualty-component div.value {/* {{{*/
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}/* }}}*/

/**
 * Active Filter Component
 */
#active-filters ul {
    display: flex;
}
